version: '3.1'
services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: gk
      POSTGRES_USER: gk
      POSTGRES_PASSWORD: gk
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
  web:
    build: ./backend
    command: gunicorn --bind 0.0.0.0:5000 run:app
    ports:
      - 5000:5000
    env_file:
      - ./.env.prod
    depends_on:
      - db

volumes:
  postgres_data
