version: '3.1'
services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: gatekeeper
      POSTGRES_USER: gatekeeper
      POSTGRES_PASSWORD: gatekeeper
    expose:
      - 5432
    volumes:
      - gatekeeper_db:/var/lib/postgresql/data
  backend:
    build: ./backend
    volumes:
      - gatekeeper_data:/data
    expose:
      - 5000
    env_file:
      - ./backend/.env.prod
      - ./backend/.env.secret
    depends_on:
      - db
  frontend:
    build: ./frontend
    command: yarn start
    expose:
      - 3000
    env_file:
      - ./frontend/.env.prod
      - ./frontend/.env.secret
  streaming:
    build: ./streaming
    restart: always
    volumes:
      - gatekeeper_data:/data
  nginx:
    image: nginx
    ports:
      - 9000:80
    depends_on:
      - web
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - gatekeeper_data:/data

volumes:
  gatekeeper_db:
  gatekeeper_data:
