body {
  background: #f8f8f8;
  padding: 0;
  margin: 0;
  height: auto;
}

.ui.table:not(.readonly) tr {
  cursor: pointer;
}

.ui.table:not(.readonly) tr:hover {
  background: #fafafa;
}

.ui.modal.fullscreen.basic.visible.active {
  left: auto !important;
  width: fit-content !important;
}

.search-input input {
  padding: 0.73em 1em !important;
}

@media (max-width: 768px) {
  thead {
    display: none !important;
  }
}
